<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HbrManager.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>EB609F63FD02832B13B819F486AAE6392826D4E7</string>
				<key>dateExpires</key>
				<string>16/02/21</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>35F7S6K7M5.org.reactjs.native.example.HbrManager</string>
				<key>com.apple.developer.team-identifier</key>
				<string>35F7S6K7M5</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>35F7S6K7M5.org.reactjs.native.example.HbrManager</string>
				</array>
			</dict>
			<key>name</key>
			<string>HbrManager.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>565cbebb-d3f8-49e9-85be-bd2eed7550e2</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>35F7S6K7M5</string>
				<key>name</key>
				<string>Tourism Enhancement Fund</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
